
requests==2.31.0
tqdm==4.66.2
pandas==2.2.2
semgrep==1.67.0
scikit-learn==1.4.1.post1
datasets==2.18.0
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
transformers>=4.40.2
accelerate==0.29.2
optimum>=1.18.0
tokenizers==0.19.0
evaluate==0.4.1
sentencepiece==0.2.0
huggingface_hub>=0.23.0
protobuf==4.25.3
fsspec>=2023.6.0
onnxruntime>=1.17.0
xxhash>=3.4.1